@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome to the Dungeon Darkly Compendium!</h1>
    <p>@Html.ActionLink("See all monsters", "Index", "Monsters")</p>
    @* <p>@Html.ActionLink("See all behaviors", "Index", "Behaviors")</p> *@
</div>
